<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="applySitterInsert">

		INSERT INTO
			SITTER
		VALUES(
			 ?
			,'N'
			,?
			,?
			,?  
			,?
			,?
			,?
			,'N'
			,null
			,null
			,null
			,0
			,null
			,null
			,null
			,13
			,12
			)
	</entry>
	
	
	
	<entry key= "selectCurrentOptions">
	
	select 
		  mem_no
		, mem_name
		, sitter_title
			, additions
		, dsmall
		, dmid
		, dbig
		, osmall
		, omid
		, obig
	
		from vw_sitter
		where mem_no=?
	</entry>
	
	
	<entry key= "sitterWaitingCount">
	select count(*) count
        from reserv 
        join reserv_sitting using(res_no)
        join fee using(sitting_no)
        where res_checkin > sysdate
        and res_status='대기'
        and sitter_no=?
    </entry>   
     	
    <entry key= "sitterConfirmCount">
	select count(*) count
        from reserv 
        join reserv_sitting using(res_no)
        join fee using(sitting_no)
        where res_checkin > sysdate
        and res_status='대기'
        and sitter_no=?
		</entry>
	
	 <entry key= "sitterContentUpdate">
		UPDATE SITTER
		SET SITTER_TITLE =?
			, SITTER_CONTENT=?
		WHERE SITTER_NO=?

	</entry>
		
	 <entry key= "insertAttachmentList">
		INSERT
			  INTO ATTACHMENT
			  (
			    FILE_NO
			  , AT_CATEGORY
			  , AT_NO
			  , ORIGIN_NAME
			  , CHANGE_NAME
			  , FILE_PATH
			  , FILE_LEVEL
			  )
			  VALUES
			  (
			    SEQ_CNO.NEXTVAL
			  , 'SITTER_PIC'
			  , ?
			  , ?
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	
	
	
	 <entry key= "selectSitterContent">
		SELECT
		SITTER_NO
			,SITTER_TITLE
			,SITTER_CONTENT		
		 FROM SITTER
		 WHERE SITTER_NO=?
			  
	</entry>
	
	 <entry key= "selectSitterPics">
		select fILE_PATH||CHANGE_NAME PATH
		,file_level
				from attachment
				where at_catEgory ='SITTER_PIC'
				AND AT_NO=?
				AND STATUS='Y'
				ORDER BY FILE_LEVEL
		</entry>
	
	
		 <entry key= "updateAttachmentList">
		UPDATE ATTACHMENT
			SET ORIGIN_NAME=?
			,CHANGE_NAME=?
			,FILE_PATH=?
			,FILE_LEVEL=?
			,UPLOAD_DATE=SYSDATE
			WHERE AT_NO =?
			AND FILE_LEVEL=?
			AND STATUS='Y'
			AND at_catEgory ='SITTER_PIC'
		
			
	</entry>
	
	
	
	
</properties>