<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectQNAListCount">
		SELECT
			COUNT(*) COUNT
			FROM (SELECT * FROM REPORT WHERE (REPORT_SORT = 1 AND DONE = 'N')) REP
						JOIN MEMBER ON(REP.MEM_NO = MEMBER.MEM_NO)
                        JOIN QNA ON(QNA_NO = ORIGIN_NO)
	</entry>
	
	
	<entry key="selectQNAList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
                            REPORT_NO
                             , Q_TITLE AS TITLE
                             , MQ.MEM_ID AS WRITER_ID
                             , Q_CREATE_DATE AS CREATE_DATE
                             , MR.MEM_ID AS REPORTER_ID
                             , REPORTED_DATE 
                        FROM REPORT R
                        JOIN QNA Q ON (R.ORIGIN_NO = Q.QNA_NO)
                        JOIN MEMBER MQ ON(Q.Q_MEM_NO = MQ.MEM_NO)
                        JOIN MEMBER MR ON(R.MEM_NO = MR.MEM_NO)
                        WHERE 
                        	REPORT_SORT = 1
                        	AND DONE = 'N'
		                ORDER 
		                	BY REPORTED_DATE DESC
		                ) A
		        )
		 WHERE (RNUM BETWEEN ? AND ?)
	</entry>
	
	
	<entry key="selectRevListCount">
		SELECT
			COUNT(*) COUNT
			FROM (SELECT * FROM REPORT WHERE (REPORT_SORT = 2 AND DONE = 'N')) REP
						JOIN MEMBER ON(REP.MEM_NO = MEMBER.MEM_NO)
                        JOIN REVIEW ON(REV_NO = ORIGIN_NO)
	</entry>
	
	
	<entry key="selectRevList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
                            REPORT_NO
                             , REV_CONTENT AS TITLE
                             , RSVM.MEM_ID AS WRITER_ID
                             , REV_DATE AS CREATE_DATE
                             , MR.MEM_ID AS REPORTER_ID
                             , REPORTED_DATE
                        FROM REPORT R
                        JOIN REVIEW ON (R.ORIGIN_NO = REVIEW.REV_NO)
                        JOIN RESERV RSV ON(REVIEW.RES_NO = RSV.RES_NO)
                        JOIN MEMBER RSVM ON(RSV.MEM_NO = RSVM.MEM_NO)
                        JOIN MEMBER MR ON(R.MEM_NO = MR.MEM_NO)
                        WHERE 
                        	REPORT_SORT = 2
                        	AND DONE = 'N'
		                ORDER 
		                	BY REPORTED_DATE DESC
		                ) A
		        )
		 WHERE (RNUM BETWEEN ? AND ?)
	</entry>
	
	
	<entry key="selectKeyQNAListCount">
		SELECT
			COUNT(*) COUNT
			FROM (SELECT * FROM REPORT WHERE (REPORT_SORT = 1 AND DONE = 'N')) REP
				JOIN MEMBER ON(REP.MEM_NO = MEMBER.MEM_NO)
            	JOIN QNA ON(QNA_NO = ORIGIN_NO)
            WHERE LOWER(Q_TITLE) LIKE ?          
	</entry>
	
	
	<entry key="selectKeyQNAList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
                            REPORT_NO
                             , Q_TITLE AS TITLE
                             , MQ.MEM_ID AS WRITER_ID
                             , Q_CREATE_DATE AS CREATE_DATE
                             , MR.MEM_ID AS REPORTER_ID
                             , REPORTED_DATE 
                        FROM REPORT R
                        JOIN QNA Q ON (R.ORIGIN_NO = Q.QNA_NO)
                        JOIN MEMBER MQ ON(Q.Q_MEM_NO = MQ.MEM_NO)
                        JOIN MEMBER MR ON(R.MEM_NO = MR.MEM_NO)
                        WHERE 
                        	REPORT_SORT = 1
                        	AND DONE = 'N'
                        	AND LOWER(Q_TITLE) LIKE ? 
		                ORDER 
		                	BY REPORTED_DATE DESC
		                ) A
		        )
		 WHERE (RNUM BETWEEN ? AND ?)
	</entry>
	
	
	<entry key="selectKeyRevListCount">
		SELECT
			COUNT(*) COUNT
			FROM (SELECT * FROM REPORT WHERE (REPORT_SORT = 2 AND DONE = 'N')) REP
				JOIN MEMBER ON(REP.MEM_NO = MEMBER.MEM_NO)
                JOIN REVIEW ON(REV_NO = ORIGIN_NO)
            WHERE LOWER(REV_CONTENT) LIKE ?
	</entry>
	
	
	<entry key="selectKeyRevList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
                            REPORT_NO
                             , REV_CONTENT AS TITLE
                             , RSVM.MEM_ID AS WRITER_ID
                             , REV_DATE AS CREATE_DATE
                             , MR.MEM_ID AS REPORTER_ID
                             , REPORTED_DATE
                        FROM REPORT R
                        JOIN REVIEW ON (R.ORIGIN_NO = REVIEW.REV_NO)
                        JOIN RESERV RSV ON(REVIEW.RES_NO = RSV.RES_NO)
                        JOIN MEMBER RSVM ON(RSV.MEM_NO = RSVM.MEM_NO)
                        JOIN MEMBER MR ON(R.MEM_NO = MR.MEM_NO)
                        WHERE 
                        	REPORT_SORT = 2
                        	AND DONE = 'N'
                        	AND LOWER(REV_CONTENT) LIKE ?
		                ORDER 
		                	BY REPORTED_DATE DESC
		                ) A
		        )
		 WHERE (RNUM BETWEEN ? AND ?)
	</entry>


	<entry key="undoQnaReport">
		UPDATE 
    		QNA
		SET 
    		QNA_STATUS = 'Y'
		WHERE
    		QNA_NO IN (
        		SELECT 
            		QNA_NO 
        		FROM 
            		REPORT 
        		JOIN REVIEW ON (QNA_NO = ORIGIN_NO)
        		WHERE
            		REPORT_SORT = 1
            		AND REPORT_NO = ?
        	)
	</entry>
	
	
	<entry key="undoRevReport">
		UPDATE 
    		REVIEW
		SET 
    		REV_STATUS = 'Y'
		WHERE
    		REV_NO IN (
        		SELECT 
            		REV_NO 
        		FROM 
            		REPORT 
        		JOIN REVIEW ON (REV_NO = ORIGIN_NO)
        		WHERE
            		REPORT_SORT = 2
            		AND REPORT_NO = ?
        	)	
	</entry>
	
	
	<entry key="deleteQnaReport">
		UPDATE 
    		QNA
		SET 
    		QNA_STATUS = 'N'
		WHERE
    		QNA_NO IN (
        		SELECT 
            		QNA_NO 
        		FROM 
            		REPORT 
        		JOIN REVIEW ON (QNA_NO = ORIGIN_NO)
        		WHERE
            		REPORT_SORT = 1
            		AND REPORT_NO = ?
        	)	
	</entry>
	
	
	<entry key="deleteRevReport">
		UPDATE 
    		REVIEW
		SET 
    		REV_STATUS = 'N'
		WHERE
    		REV_NO IN (
        		SELECT 
            		REV_NO 
        		FROM 
            		REPORT 
        		JOIN REVIEW ON (REV_NO = ORIGIN_NO)
        		WHERE
            		REPORT_SORT = 2
            		AND REPORT_NO = ?
        	)	
	</entry>
	
	
	<entry key="undoListDone">
		UPDATE
			REPORT
		SET
			DONE = 'Y'
		WHERE
			REPORT_NO = ?
	</entry>
	
	<entry key="deleteListDone">
		UPDATE
			REPORT
		SET
			DONE = 'Y'
		WHERE
			REPORT_NO = ?
	</entry>
	
	<entry key="qnaReportDetail">
		SELECT
			REPORT_NO
		    , Q_TITLE AS TITLE
		    , MR.MEM_ID AS REPORTER_ID
		    , MQ.MEM_ID AS WRITER_ID
		    , Q_CONTENT AS CONTENT
		FROM REPORT R
		JOIN QNA ON (R.ORIGIN_NO = Q.QNA_NO)
		JOIN MEMBER MQ ON(Q.Q_MEM_NO = MQ.MEM_NO)
		JOIN MEMBER MR ON(R.MEM_NO = MR.MEM_NO)
		WHERE
		    REPORT_SORT = 1
		    AND REPORT_NO = ?
	</entry>
	
	<entry key="revReportDetail">
		SELECT
			REPORT_NO
		    , REV_CONTENT AS TITLE
		    , MR.MEM_ID AS REPORTER_ID
		    , RSVM.MEM_ID AS WRITER_ID
		    , REV_CONTENT AS CONTENT
		FROM REPORT R
		JOIN REVIEW ON (R.ORIGIN_NO = REVIEW.REV_NO)
		JOIN RESERV RSV ON(REVIEW.RES_NO = RSV.RES_NO)
		JOIN MEMBER RSVM ON(RSV.MEM_NO = RSVM.MEM_NO)
		JOIN MEMBER MR ON(R.MEM_NO = MR.MEM_NO)
		WHERE
		    REPORT_SORT = 2
		    AND REPORT_NO = ?
	</entry>
	
	
	
	<!-- 날드: 고객센터 faq -->
	<entry key="memSelectFaqList">
		select 
				ROWNUM RNUM
				,NOTICE_CATEGORY
		        , NOTICE_TITLE
		        , NOTICE_CONTENT
	   				 from (select 
	   				 		  NOTICE_CATEGORY
					        , NOTICE_TITLE
					        , NOTICE_CONTENT
								from notice
								where NOTICE_CATEGORY not like '%공지%'
				            	and NOTICE_STATUS = 'Y'
				            	 ORDER BY CREATE_DATE DESC)
	</entry>
	
</properties>