<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key= "insertPet">
		INSERT
		   INTO PET
		  (
		     PET_NO
		   , MEM_NO
		   , PET_NAME
		   , PET_GENDER
		   , PET_BREED
		   , PET_BIRTH
		   , PET_WEIGHT
		   , NEUTERED
		   , PET_SIZE
		   , CHIP
		   , VACCINE
		   , CAUTION
		   , NOTE
		   , HOSPI
		   , HOSPI_TEL
		   , PET_IMG
		   )
		   VALUES
		   (
		     SEQ_PNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   )
	</entry>	
	
	<entry key="selectPet">
		SELECT
		       PET_NO
		     , PET_NAME
		     , PET_BIRTH
		     , PET_WEIGHT
		     , PET_GENDER
		     , PET_BREED
		     , PET_IMG
		     , VACCINE
		     , CAUTION
		     , NOTE
		     , HOSPI
		     , HOSPI_TEL
		     , NEUTERED
		     , CHIP
		  FROM PET
		 WHERE PET_NO = ?
		   AND PET_STATUS = 'Y'
	</entry>
	
</properties>