<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key= "insertPet">
		INSERT
		   INTO PET
		  (
		     PET_NO
		   , MEM_NO
		   , PET_NAME
		   , PET_GENDER
		   , PET_BREED
		   , PET_BIRTH
		   , PET_WEIGHT
		   , NEUTERED
		   , PET_SIZE
		   , CHIP
		   , VACCINE
		   , CAUTION
		   , NOTE
		   , HOSPI
		   , HOSPI_TEL
		   , PET_IMG
		   )
		   VALUES
		   (
		     SEQ_PNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   )
	</entry>	
	
	<entry key="selectPet">
		SELECT
		       PET_NO
		     , PET_NAME
		     , PET_BIRTH
		     , PET_WEIGHT
		     , PET_GENDER
		     , PET_BREED
		     , PET_IMG
		     , VACCINE
		     , CAUTION
		     , NOTE
		     , HOSPI
		     , HOSPI_TEL
		     , NEUTERED
		     , CHIP
		  FROM PET
		 WHERE PET_NO = ?
		   AND PET_STATUS = 'Y'
	</entry>
	
	<entry key="petList">
		select 
		    pet_no
		    ,pet_name
		    ,pet_birth
		    ,pet_weight
		    ,pet_gender
		    ,pet_size
		    ,pet_breed
		    ,pet_img
		from pet
		where mem_no=?
		and pet_status='Y'
	</entry>
	
	<entry key="selectPetList">
		SELECT 
		        PET_NO
		      , PET_NAME
		  FROM PET
		 WHERE PET_STATUS = 'Y'
		   AND MEM_NO = ?
		   ORDER BY PET_NO
	
	</entry>
	
	<entry key="selectAdminPetDetail">
		SELECT
	        PET_BIRTH
	      , PET_WEIGHT
	      , PET_GENDER
	      , PET_SIZE
	      , PET_BREED
	      , PET_IMG
	      , VACCINE
	      , CAUTION
	      , NOTE
	      , HOSPI
	      , HOSPI_TEL
	      , NEUTERED
	      , CHIP
	  FROM PET
	 WHERE PET_NO = ?
	</entry>
	
	<entry key="adminDeletePet">
		UPDATE
			PET
		   SET
		    PET_STATUS = 'N'
		    
	</entry>
	
	<entry key="updatePet">
      UPDATE
             PET
         SET PET_NAME = ?
           , PET_GENDER = ?
           , PET_BREED = ?
           , PET_BIRTH = ?
           , PET_WEIGHT = ?
           , NEUTERED = ?
           , CHIP = ?
           , PET_IMG = ?
           , PET_SIZE = ?
           , VACCINE = ?
           , CAUTION = ?
           , NOTE = ?
           , HOSPI = ?
           , HOSPI_TEL = ?
       WHERE PET_NO = ?     
   </entry>
	
	<entry key="deletePet">
		UPDATE
		       PET
		   SET PET_STATUS = 'N'
		 WHERE PET_NO = ?
		   AND PET_IMG = ?
	</entry>
	
	<entry key="dailyLogCount">
	
	SELECT COUNT(*) COUNT
    	FROM(
	         SELECT 
	              RE.MEM_NO
	            FROM LOG L
	            JOIN RESERV RE ON(RE.RES_NO = L.RES_NO) 
	            WHERE RE.MEM_NO = ?
	            and log_time between ? and ?
	            )  
		
	</entry>
	
	 <entry key="dailyLog">
      SELECT *
		  FROM (    
		      SELECT ROWNUM RNUM, B.*  
		        FROM( 
		            SELECT RE.MEM_NO
		                 , F.SITTER_NO
		                 , M.MEM_NAME SITTERNAME
		                 , LOG_NO
		                 , RE.RES_NO
		                 , LOG_TIME
		                 , LOG_CONTENT
		                 , FILE_PATH||CHANGE_NAME PATH
		                 FROM LOG L
		                 JOIN RESERV RE ON(RE.RES_NO = L.RES_NO) 
		                 JOIN ATTACHMENT ON(LOG_NO = AT_NO) 
		                 JOIN RESERV_SITTING RS ON(RE.RES_NO = RS.RES_NO)
		                 JOIN FEE F ON(RS.SITTING_NO = F.SITTING_NO)
		                 JOIN MEMBER M ON(F.SITTER_NO = M.MEM_NO)
		                 WHERE RE.MEM_NO = ?
		                 AND log_time between ? and ?
		                 AND AT_CATEGORY='LOG_PIC'
		                 ORDER BY LOG_TIME DESC) B
		                 )
          WHERE RNUM BETWEEN ? AND ?
   </entry>
	
</properties>