<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectOldListCount">
		SELECT
    		COUNT(*) COUNT
    		FROM SITTER
    		JOIN MEMBER ON(SITTER_NO = MEM_NO)
    		WHERE SITTER_ACCESS = 'Y'
	
	</entry>
	
	<entry key="selectNewListCount">
		SELECT
    		COUNT(*) COUNT
    		FROM SITTER
			JOIN MEMBER ON(SITTER_NO = MEM_NO)
	
	</entry>

	<entry key="selectOldPetsitterList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       MEM_ID
							    ,SITTER_NO
							    ,SITTER_ACCESS
							    ,PET_PERIOD
							    ,PET_NO
							    ,LICENSE
							    ,EXPERIENCE
							    ,MOTIVE
							    ,PROMOTION_STATUS
							    ,PROMOTION_DATE
							    ,STOP_REASON
							    ,STOP_CONTENT
							    ,PENALTY_COUNT
							    ,ADDITIONS
							    ,FLOOR(MONTHS_BETWEEN((SELECT SYSDATE FROM DUAL),	PROMOTION_DATE)) AS DURATION
		                FROM SITTER
						JOIN MEMBER ON(SITTER_NO = MEM_NO)
		                ORDER 
		                	BY SITTER.PROMOTION_DATE DESC
		                ) A
		        )
		 WHERE (RNUM BETWEEN ? AND ?)
		 AND (PROMOTION_STATUS = 'Y') 
		 AND (SITTER_ACCESS = 'Y')

	</entry>
	
	<entry key="selectNewPetsitterList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
				    		MEM_ID
						    ,SITTER_NO
						    ,SITTER_ACCESS
						    ,PET_PERIOD
						    ,PET_NO
						    ,LICENSE
						    ,EXPERIENCE
						    ,PROMOTION_STATUS
						    ,PROMOTION_DATE
						    ,ADDITIONS
						FROM SITTER
						JOIN MEMBER ON(SITTER_NO = MEM_NO)
						ORDER 
							BY SITTER_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectNewPetsitter">
		SELECT
			SITTER_NO
			,MEM_ID
			,PET_PERIOD
			,PET_NO
			,LICENSE
			,EXPERIENCE
			,MOTIVE
			,ADD_CONTENT
			,ADDITIONS
		FROM SITTER
		JOIN MEMBER ON(SITTER_NO = MEM_NO)
		WHERE SITTER_NO = ?
	</entry>
	
	<entry key="blockSitter">
		UPDATE
        	SITTER
    	SET 
    		SITTER_ACCESS = 'N'
    	WHERE 
    		SITTER_NO = ?
	</entry>
	
	<entry key="updateMemberId">
		UPDATE
        	MEMBER
	    SET 
        	MEM_ID = ?
        WHERE
         	MEM_NO = ?
	</entry>
	
	<entry key="updatePetNo">
		UPDATE
			SITTER
		SET
			PET_NO = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="updateAdditions">
		UPDATE
			SITTER
		SET
			ADDITIONS = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="updateLicense">
		UPDATE
			SITTER
		SET
			LICENSE = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="updateExperience">
		UPDATE
			SITTER
		SET
			EXPERIENCE = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="sitterAccept">
		UPDATE
        	SITTER
	       SET 
        	(PROMOTION_STATUS, SITTER_ACCESS) = ('Y', 'Y')
         WHERE
         	SITTER_NO = ?
	</entry>
	
	<entry key="sitterDeny">
		UPDATE
        	SITTER
	       SET 
        	(PROMOTION_STATUS, SITTER_ACCESS) = ('N', 'N')
         WHERE
         	SITTER_NO = ?
	</entry>
	
</properties>