<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectOldListCount">
		SELECT
    		COUNT(*) COUNT
    		FROM SITTER
    		JOIN MEMBER ON(SITTER_NO = MEM_NO)
    		WHERE (SITTER_ACCESS = 'Y')
			AND (PROMOTION_STATUS = 'Y') 
	</entry>
	
	<entry key="selectNewListCount">
		SELECT
    		COUNT(*) COUNT
    		FROM SITTER
			JOIN MEMBER ON(SITTER_NO = MEM_NO)
	
	</entry>

	<entry key="selectOldPetsitterList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       MEM_ID
							    ,SITTER_NO
							    ,SITTER_ACCESS
							    ,PET_PERIOD
							    ,PET_NO
							    ,LICENSE
							    ,EXPERIENCE
							    ,MOTIVE
							    ,PROMOTION_STATUS
							    ,PROMOTION_DATE
							    ,STOP_REASON
							    ,STOP_CONTENT
							    ,PENALTY_COUNT
							    ,ADDITIONS
							    ,FLOOR(MONTHS_BETWEEN((SELECT SYSDATE FROM DUAL),	PROMOTION_DATE)) AS DURATION
		                FROM SITTER
						JOIN MEMBER ON(SITTER_NO = MEM_NO)
		                ORDER 
		                	BY SITTER.PROMOTION_DATE DESC
		                ) A
		        )
		 WHERE (RNUM BETWEEN ? AND ?)
		 AND (PROMOTION_STATUS = 'Y') 
		 AND (SITTER_ACCESS = 'Y')

	</entry>
	
	<entry key="selectNewPetsitterList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
				    		MEM_ID
						    ,SITTER_NO
						    ,SITTER_ACCESS
						    ,PET_PERIOD
						    ,PET_NO
						    ,LICENSE
						    ,EXPERIENCE
						    ,PROMOTION_STATUS
						    ,PROMOTION_DATE
						    ,ADDITIONS
						FROM SITTER
						JOIN MEMBER ON(SITTER_NO = MEM_NO)
						ORDER 
							BY SITTER_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectNewPetsitter">
		SELECT
			SITTER_NO
			,MEM_ID
			,PET_PERIOD
			,PET_NO
			,LICENSE
			,EXPERIENCE
			,MOTIVE
			,ADD_CONTENT
			,ADDITIONS
		FROM SITTER
		JOIN MEMBER ON(SITTER_NO = MEM_NO)
		WHERE SITTER_NO = ?
	</entry>
	
	<entry key="blockSitter">
		UPDATE
        	SITTER
    	SET 
    		SITTER_ACCESS = 'N'
    	WHERE 
    		SITTER_NO = ?
	</entry>
	
	<entry key="updateMemberId">
		UPDATE
        	MEMBER
	    SET 
        	MEM_ID = ?
        WHERE
         	MEM_NO = ?
	</entry>
	
	<entry key="updatePetNo">
		UPDATE
			SITTER
		SET
			PET_NO = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="updateAdditions">
		UPDATE
			SITTER
		SET
			ADDITIONS = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="updateLicense">
		UPDATE
			SITTER
		SET
			LICENSE = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="updateExperience">
		UPDATE
			SITTER
		SET
			EXPERIENCE = ?
		WHERE
			SITTER_NO = ?
	</entry>
	
	<entry key="sitterAccept">
		UPDATE
        	SITTER
	       SET 
        	PROMOTION_STATUS = 'Y', SITTER_ACCESS = 'Y', PROMOTION_DATE = (SELECT SYSDATE FROM DUAL)
         WHERE
         	SITTER_NO = ?
	</entry>
	
	<entry key="sitterDeny">
		UPDATE
        	SITTER
	       SET 
        	PROMOTION_STATUS = 'N', SITTER_ACCESS = 'N'
         WHERE
         	SITTER_NO = ?
	</entry>
	
	
	<entry key ="insertSitterMoney">
	

	INSERT ALL
			INTO FEE 
			VALUES(SEQ_FNO.NEXTVAL, ?, '소형', '데이', ?, SYSDATE)
			INTO FEE
			VALUES(SEQ_FNO.NEXTVAL+1, ?, '중형', '데이', ?, SYSDATE)
			INTO FEE
			VALUES(SEQ_FNO.NEXTVAL+2, ?, '대형', '데이', ?, SYSDATE)
			INTO FEE
			VALUES(SEQ_FNO.NEXTVAL+3, ?, '소형', '1박', ?, SYSDATE)
			INTO FEE
			VALUES(SEQ_FNO.NEXTVAL+4, ?, '중형', '1박', ?, SYSDATE)
			INTO FEE
			VALUES(SEQ_FNO.NEXTVAL+5, ?, '대형', '1박', ?, SYSDATE)
			SELECT * FROM DUAL
	
	</entry>

	<entry key ="stopSitter">
	
		UPDATE
			SITTER	<!-- 테이블 이름 -->
		SET STOP_REASON = ?
		,	STOP_CONTENT = ?
		,	SITTER_ACCESS = 'N'
		 	WHERE SITTER_NO = ?
	</entry>
	
	<entry key ="addService">
		
		UPDATE
			SITTER
		SET ADDITIONS = ?
			WHERE SITTER_NO = ?
	</entry>
	
	<entry key ="selectQna">
	
		SELECT
			QNA_NO
			,Q_TITLE
			,Q_CONTENT
			,Q_CREATE_DATE
			,A_WRITER
		FORM QNA
		WHERE USERNO = ?
		ORDER BY 1 DESC
	</entry>
	
	<entry key ="updateReject">
		UPDATE
			RESERV
		SET RES_STATUS = '거절'
		,	CANCEL_REASON = ?
			WHERE SITTER_NO = ?
		
	</entry>
	
	<entry key ="selectHist">
		SELECT
			    QNA_NO
			    ,MEM_NAME
			    ,Q_TITLE
			    ,Q_MEM_NO
			    ,Q_CREATE_DATE
			FROM QNA
			JOIN MEMBER ON (Q_MEM_NO = MEM_NO)
			WHERE A_SITTER_NO = ?
			AND QNA_STATUS='Y'
	</entry>
		
	<entry key="selectDaily">
		SELECT
				
			    LOG_NO
			    ,RES_NO
			    ,LOG_TIME
			    ,RES_DATE
			FROM LOG
			JOIN RESERV USING(RES_NO)
			WHERE MEM_NO = ?
			AND RES_STATUS = '확정'
	</entry>
	
	<entry key="selectVation">
	SELECT
		 MEM_NO
        ,RES_STATUS
        ,MEM_NAME
        ,MEM_TEL
        ,RES_NO
        ,RES_CHECKIN
        ,RES_CHECKOUT
        ,REQUEST
    FROM RESERV
    JOIN MEMBER USING(MEM_NO)
    WHERE MEM_NO = ?
    AND RES_STATUS = '확정'
    
    </entry>
    
    <entry key="selectRequest">
	SELECT
		 MEM_NO
        ,RES_STATUS
        ,MEM_NAME
        ,MEM_TEL
        ,RES_NO
        ,RES_CHECKIN
        ,RES_CHECKOUT
        ,REQUEST
    FROM RESERV
    JOIN MEMBER USING(MEM_NO)
    WHERE MEM_NO = ?
    AND RES_STATUS = '대기'
    
    </entry>
    
    <entry key="selectDetail">
    SELECT
    	 MEM_NO
        ,RES_STATUS
        ,RES_NO
        ,MEM_NAME
        ,MEM_TEL
        ,RES_CHECKIN
        ,RES_CHECKOUT
        ,PET_NAME
        ,REQUEST
    FROM RESERV
    JOIN MEMBER USING(MEM_NO)
    JOIN PET USING(MEM_NO)
    WHERE MEM_NO = ?
    AND RES_STATUS = '대기'
    </entry>
	
</properties>