<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	
	<entry key="askToAdminListCount">
    
    	   SELECT COUNT(*) COUNT
	    	FROM(            
	            SELECT
	               QNA_NO
	              	FROM qna
	               	where q_sort=1
	               	 and q_mem_no=?
	                AND QNA_STATUS='Y'
	             )
	            
 
    </entry>
    
    <entry key="askToAdminList">
    
    		SELECT *
		  FROM (
		     SELECT ROWNUM RNUM, B.*
		       FROM(select 
		       			QNA_NO
		       		  , Q_MEM_NO
                      , mem_name
		       		  , Q_CATEGORY
		       		  , Q_TITLE
		       		  , Q_CREATE_DATE
			                from qna
                            join member on(q_mem_no = mem_no)
			                where q_sort=1
			                and q_mem_no=?
			                AND QNA_STATUS='Y'
			                ORDER BY Q_CREATE_DATE DESC) B
		             )
		        WHERE RNUM BETWEEN ? AND ?
    
  
    </entry>
    
    
    
     <entry key="askToAdminDetail">
	    select
	         QNA_NO
	    	, Q_MEM_NO  
	        , Q_CATEGORY
	     	, MEM_NAME
	     	, Q_TITLE
	     	, Q_CONTENT
	     	, A_CONTENT
	     	, A_CREATE_DATE
			from qna
			JOIN MEMBER ON(MEM_NO = Q_MEM_NO)
			where qna_no=?
			AND QNA_STATUS='Y'
			and Q_MEM_NO=?
      </entry>
    
    
	
</properties>









