<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="reserveListCount">
	
		SELECT
     	  COUNT(*) COUNT
		FROM RESERV
		where MEM_NO = ?
		AND (RES_CHECKIN between ? and ?
		  or RES_CHECkOUT between ? and ?)
		
	</entry>


	<entry key="reserveList">
			SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
						SELECT DISTINCT SITTER_NO
						     , SITTER_TITLE
						     , MEM_NAME
						     , RES_NO
						     , RES_DATE
						     , RES_CHECKIN
						     , RES_CHECKOUT
						     , RES_STATUS
						     , CANCEL_REASON
						     , REV_STATUS
						     , FILE_PATH||CHANGE_NAME PATH
						FROM RESERV RE
						full JOIN REVIEW USING(RES_NO)
						JOIN RESERV_SITTING USING(RES_NO)
						JOIN FEE USING(SITTING_NO)
						JOIN SITTER USING(SITTER_NO)
						JOIN MEMBER M ON(SITTER_NO = M.MEM_NO)
						JOIN ATTACHMENT AT ON(SITTER_NO = AT_NO)
						WHERE FILE_LEVEL=1
						AND AT_CATEGORY='SITTER_PIC'
						AND AT.STATUS = 'Y'
						AND RE.MEM_NO = ?
						AND (RES_CHECKIN between ? and ?
						  or RES_CHECkOUT between ? and ?)
						order by res_date desc) A
		     			   )
			 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="reserveProceed">
	
	SELECT
	      P.PET_NO
	    , P.MEM_NO
	    , S.SITTER_NO
	    , F.SITTING_NO
	    , M.MEM_NAME SITTER_NAME
	    , PET_NAME
	    , PET_BIRTH
	    , SUBSTR(P.PET_SIZE,1,2) PET_SIZE
	    , PET_GENDER
	    , SITTER_CHECKIN
	    , SITTER_CHECKOUT
	    , FEE
	    , PET_IMG
		FROM PET P
		JOIN FEE F ON(SUBSTR(P.PET_SIZE,1,2) = F.PET_SIZE)
		JOIN MEMBER M ON(f.sitter_no=M.MEM_NO)
		JOIN SITTER S ON(F.SITTER_NO = S.SITTER_NO)


	</entry>
	
	<entry key ="reserveInsertAjax">
	 INSERT 
	  INTO RESERV
		VALUES(
		SEQ_RESNO.NEXTVAL
		, ?
		, ?
		, ?
		, SYSDATE
		, ?
		, '대기'
		,null
		,null
		,?
		,?
		,?
		)
	
	</entry>
	
	<entry key = "reviewReservInfo">
		select mem_name, sitter_title, file_path||change_name path
	        from reserv_sitting
	        join fee using(sitting_no)
	        join sitter using(sitter_no)
	        join member on(mem_no = sitter_no)
	        join attachment on(at_no=sitter_no)
	        where at_category ='SITTER_PIC'
	        and res_no = ?
	        and file_level=1
		
	</entry>
	
	
	<entry key = "reviewInsert">
	
	  INSERT 
	   INTO REVIEW
		VALUES(
		 ?
		,'Y'
		,SEQ_REVNO.NEXTVAL
		,?
		,?
		,SYSDATE
		,null
		,null
		)
	</entry>
	
	<entry key="reviewInsertAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , AT_CATEGORY  
		  , AT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , FILE_LEVEL
		  )
		  VALUES
		  (
		    SEQ_CNO.NEXTVAL
		  , 'REVIEW_PIC'
		  , SEQ_REVNO.CURRVAL
		  , ?
		  , ?
		  , ?
		  , 1
		  )
	</entry>
	

	<entry key="reserveListDetail">
		SELECT DISTINCT 
			  SITTER_NO
			, M.MEM_NAME
			, RES_NO
			, RES_CHECKIN
			, RES_CHECKOUT
			, SITTER_CHECKIN
			, SITTER_CHECKOUT
			, RES_DATE
			, REQUEST
			, RES_STATUS
			, CANCEL_REASON
			, PAY_METHOD
			, PAY_AMOUNT
		FROM RESERV
		JOIN RESERV_SITTING USING(RES_NO)
		JOIN FEE USING(SITTING_NO)
		JOIN SITTER USING (SITTER_NO)
		JOIN MEMBER M ON(SITTER_NO=M.MEM_NO)
		WHERE RES_NO=?
	</entry>

	<entry key="reserveListDetailPet">

		SELECT 
			  PET_NO
			, PET_NAME
			, PET_BIRTH
			, PET_SIZE
			, PET_GENDER
			, PET_IMG
			, PET_STATUS
		FROM RESERV_PET
		JOIN RESERV USING(RES_NO)
		JOIN PET USING(PET_NO)
		WHERE RES_NO=?
		
	</entry>


	<entry key="cancelReserve">

		UPDATE
			 RESERV
		SET RES_STATUS='취소',
		    CANCEL_REASON=?,
		    PENALTY='N'
		WHERE RES_NO=?
		
	</entry>
	
	
</properties>