<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		     MEM_NO
			,MEM_ID
			,MEM_NAME
			,MEM_PWD
			,MEM_TEL
			,MEM_EMAIL
			,MEM_ADDRESS
			,MEM_DETAIL_ADDRESS
			,MEM_LATITUDE
			,MEM_LONGTITUDE
			,MEM_ENROLLDATE
			,MEM_STATUS
			,MEM_DEL_DATE
			,MEM_DEL_DETAIL
			,MEM_ADS
			,MEM_BLOCK
			,MEM_REPORT
			,SITTER_ACCESS
		  FROM MEMBER
		 LEFT JOIN SITTER ON(MEM_NO= SITTER_NO)
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
		   AND MEM_STATUS = 'Y'
		   AND MEM_BLOCK = 'N'
		   
	</entry>
	
	<entry key="findId">
		SELECT 
			MEM_ID
		  FROM MEMBER
		 WHERE MEM_NAME = ?
		   AND (MEM_EMAIL = ?
		  		 OR MEM_TEL = ?)
		   AND MEM_STATUS = 'Y'
		   AND MEM_BLOCK = 'N'
	</entry>
	
	<entry key="findPwd1">
		SELECT 
		  MEM_NO, MEM_ID, MEM_NAME, MEM_EMAIL, MEM_TEL
		  FROM MEMBER
		   WHERE MEM_ID = ?
		   AND MEM_NAME = ?
		   AND MEM_STATUS = 'Y'
		   AND MEM_BLOCK = 'N'
	</entry>
	
	<entry key="tempPwd">
      	UPDATE MEMBER
		    SET MEM_MEMO = ?
		    WHERE MEM_ID=?
	</entry>
	
		<entry key="authPwd">
      	UPDATE MEMBER
	      	SET MEM_MEMO='Y'
			WHERE MEM_ID=?
			AND MEM_MEMO=?
	</entry>
	
	<entry key="findPwd2">
		UPDATE MEMBER
		    SET MEM_PWD = ?,
		    	MEM_MEMO=null
		    WHERE MEM_ID= ?
		    AND MEM_MEMO='Y'
	</entry>

	<entry key="favoriteListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM favorite
		 WHERE mem_no=?
	</entry>


	<entry key ="favoriteList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
                           SELECT 
                            SITTER_NO,MEM_NAME, SITTER_TITLE,FILE_PATH||CHANGE_NAME PATH
                            FROM SITTER S
                            JOIN MEMBER M ON (MEM_NO = SITTER_NO)
                            JOIN FAVORITE F USING(SITTER_NO)
                            JOIN ATTACHMENT ON(SITTER_NO=AT_NO)
                            WHERE F.MEM_NO =?
                            AND AT_CATEGORY='SITTER_PIC'
                            AND FILE_LEVEL=1
                            ORDER BY SITTER_NO
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key ="favoriteInsert">
			INSERT INTO FAVORITE F
					(MEM_NO, SITTER_NO)
					SELECT ?,? FROM DUAL
					WHERE NOT EXISTS (SELECT 1
                    FROM FAVORITE F
                    WHERE MEM_NO=?
                    AND SITTER_NO=?)
	
	</entry>
	
	<entry key ="favoriteDelete">
			DELETE FROM FAVORITE
			WHERE MEM_NO=?
			AND SITTER_NO=?
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		  (
		    MEM_NO
		  , MEM_ID
		  , MEM_NAME
		  , MEM_PWD
		  , MEM_TEL
		  , MEM_EMAIL
		  , MEM_ADDRESS
		  , MEM_DETAIL_ADDRESS
		  , MEM_LATITUDE
		  , MEM_LONGTITUDE
		  )
		  VALUES
		  (
		    SEQ_MNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
  </entry>
	
	<entry key="updateMember">
		UPDATE
		       MEMBER
		   SET MEM_PWD = ?
		     , MEM_TEL = ?
		     , MEM_EMAIL = ?
		     , MEM_ADDRESS = ?
		     , MEM_DETAIL_ADDRESS = ?
		     , MEM_LATITUDE = ?
		     , MEM_LONGTITUDE = ?
		 WHERE MEM_NO = ?
	</entry>
	
	<entry key="selectMember">
		SELECT
			   MEM_NO	
		     , MEM_ID
		     , MEM_NAME
		     , MEM_PWD
		     , MEM_TEL
		     , MEM_EMAIL
		     , MEM_ADDRESS
		     , MEM_DETAIL_ADDRESS
		     , MEM_LATITUDE
		     , MEM_LONGTITUDE
		  FROM MEMBER
		 WHERE MEM_NO = ?
		   AND MEM_STATUS = 'Y'
	</entry>
	
	<entry key="leaveMember">
		UPDATE
		       MEMBER
		   SET MEM_STATUS = 'N'
		     , MEM_DEL_DATE = SYSDATE
		     , MEM_DEL_DETAIL = ?
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
	</entry>
	
	
		<entry key="selectListCount">
		SELECT COUNT(*) COUNT 
		  FROM MEMBER
		 WHERE MEM_STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT * 
  		FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	                SELECT
	                	  MEM_NO
	             	    , MEM_ID
	              	    , MEM_NAME
	              	    , MEM_TEL
  	              	    , MEM_EMAIL
	              	    , MEM_ADDRESS
	              	    , MEM_BLOCK
	        		FROM MEMBER
	       		   WHERE MEM_STATUS = 'Y'
	       		   ORDER
	      		      BY MEM_NO
	               ) A
	          )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
		<entry key="selectKeyList">
		SELECT * 
  		FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	                SELECT
	                	  MEM_NO
	             	    , MEM_ID
	              	    , MEM_NAME
	              	    , MEM_TEL
  	              	    , MEM_EMAIL
	              	    , MEM_ADDRESS
	              	    , MEM_BLOCK
	        		FROM MEMBER
	       		   WHERE MEM_STATUS = 'Y'
	       		     AND LOWER(MEM_ID) LIKE ?
	       		   ORDER
	      		      BY MEM_NO
	               ) A
	          )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="adminUpdateMemberId">
			UPDATE
        	MEMBER
	       SET 
        	MEM_ID = ?
         WHERE
         	MEM_NO = ?
	</entry>
	<entry key="adminUpdateMemberName">
		UPDATE
        	MEMBER
	       SET 
        	MEM_NAME = ?
         WHERE
         	MEM_NO = ?
	</entry>
	<entry key="adminUpdateMemberTel">
		UPDATE
        	MEMBER
	       SET 
        	MEM_TEL = ?
         WHERE
         	MEM_NO = ?
	</entry>
	<entry key="adminUpdateMemberEmail">
		UPDATE
        	MEMBER
	       SET 
        	MEM_EMAIL = ?
         WHERE
         	MEM_NO = ?
	</entry>
	<entry key="adminUpdateMemberAddress">
		UPDATE
        	MEMBER
	       SET 
        	MEM_ADDRESS = ?
         WHERE
         	MEM_NO = ?
	</entry>
	
	<entry key="blockMember">
		UPDATE
			MEMBER
		   SET
		    MEM_BLOCK = 'Y'
		 WHERE
		    MEM_NO = ?
	</entry>

	<entry key="unblockMember">
		UPDATE
			MEMBER
		   SET
			MEM_BLOCK = 'N'
    </entry>
    
    <entry key="adminDeleteMember">
    	UPDATE
    		MEMBER
    	   SET
    	    MEM_STATUS = 'N'
    </entry>
	
</properties>









