<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		     MEM_NO
			,MEM_ID
			,MEM_NAME
			,MEM_PWD
			,MEM_TEL
			,MEM_EMAIL
			,MEM_ADDRESS
			,MEM_DETAIL_ADDRESS
			,MEM_LATITUDE
			,MEM_LONGTITUDE
			,MEM_ENROLLDATE
			,MEM_STATUS
			,MEM_DEL_DATE
			,MEM_DEL_DETAIL
			,MEM_ADS
			,MEM_BLOCK
			,MEM_REPORT
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
		   AND MEM_STATUS = 'Y'
		   AND MEM_BLOCK = 'N'
		   
	</entry>
	
	<entry key="findId">
		SELECT 
			MEM_ID
		  FROM MEMBER
		 WHERE MEM_NAME = ?
		   AND MEM_EMAIL = ?
		   OR MEM_TEL = ?
		   AND MEM_STATUS = 'Y'
		   AND MEM_BLOCK = 'N'
	</entry>
	
	<entry key="findPwd1">
		SELECT 
		  MEM_NO, MEM_ID, MEM_NAME, MEM_EMAIL, MEM_TEL
		  FROM MEMBER
		   WHERE MEM_ID = ?
		   AND MEM_NAME = ?
		   AND MEM_STATUS = 'Y'
		   AND MEM_BLOCK = 'N'
	</entry>
	
	<entry key="findPwd2">
		UPDATE MEMBER
		    SET MEM_PWD = ?
		    WHERE MEM_NO= ?
		    AND MEM_ID=?
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		  (
		    MEM_NO
		  , MEM_ID
		  , MEM_NAME
		  , MEM_PWD
		  , MEM_TEL
		  , MEM_EMAIL
		  , MEM_ADDRESS
		  , MEM_DETAIL_ADDRESS
		  , MEM_LATITUDE
		  , MEM_LONGTITUDE
		  )
		  VALUES
		  (
		    SEQ_MNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="updateMember">
		UPDATE
		       MEMBER
		   SET MEM_PWD = ?
		     , MEM_TEL = ?
		     , MEM_EMAIL = ?
		     , MEM_ADDRESS = ?
		     , MEM_DETAIL_ADDRESS = ?
		     , MEM_LATITUDE = ?
		     , MEM_LONGTITUDE = ?
		 WHERE MEM_NO = ?
	</entry>
	
	<entry key="selectMember">
		SELECT
			   MEM_NO	
		     , MEM_ID
		     , MEM_NAME
		     , MEM_PWD
		     , MEM_TEL
		     , MEM_EMAIL
		     , MEM_ADDRESS
		     , MEM_DETAIL_ADDRESS
		     , MEM_LATITUDE
		     , MEM_LONGTITUDE
		  FROM MEMBER
		 WHERE MEM_NO = ?
		   AND MEM_STATUS = 'Y'
	</entry>
	
</properties>