<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="adminLogin">
		SELECT
	      ADMIN_NO
	    , ADMIN_ID
	    , ADMIN_PWD
	    , ADMIN_EMAIL
	    , ADMIN_PHONE
	    , ADMIN_STATUS
	  FROM ADMIN
	 WHERE ADMIN_ID = ?
	   AND ADMIN_PWD = ?
	   AND ADMIN_STATUS = 'Y'
	</entry>
	
	<entry key="selectDealListCount">
		SELECT
		    COUNT(*) COUNT
		  FROM RESERV 
		 WHERE RES_STATUS IN('확정', '취소')
	</entry>

	<entry key="selectDealList">
		SELECT * 
  		FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
                SELECT 
                      RES_NO
                    , RES_DATE
                    , MID
                    , MEM_ID
                    , PAY_AMOUNT
                    , RES_CHECKIN
                    , RES_STATUS
                  FROM (SELECT 
                              MEM_ID MID
                            , RES_NO 
                          FROM RESERV 
                          JOIN MEMBER USING (MEM_NO)
                        )
                  JOIN RESERV USING(RES_NO)
                  JOIN RESERV_SITTING USING(RES_NO)
                  JOIN FEE F USING(SITTING_NO)
                  JOIN MEMBER M ON(F.SITTER_NO = M.MEM_NO)
                 WHERE RES_STATUS IN('확정', '취소')
                 ORDER BY RES_DATE DESC
	               ) A
	          )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
		<entry key="selectKeyDateDealList">
		SELECT * 
  		FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
                SELECT 
                      RES_NO
                    , RES_DATE
                    , MID
                    , MEM_ID
                    , PAY_AMOUNT
                    , RES_CHECKIN
                    , RES_STATUS
                  FROM (SELECT 
                              MEM_ID MID
                            , RES_NO 
                          FROM RESERV 
                          JOIN MEMBER USING (MEM_NO)
                        )
                  JOIN RESERV USING(RES_NO)
                  JOIN RESERV_SITTING USING(RES_NO)
                  JOIN FEE F USING(SITTING_NO)
                  JOIN MEMBER M ON(F.SITTER_NO = M.MEM_NO)
                 WHERE RES_STATUS IN('확정', '취소')
                   AND TO_CHAR(RES_DATE, 'YYYY-MM-DD') = ?
	               ) A
	          )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="calculateListCount">
		SELECT COUNT(*) COUNT
  		  FROM VW_CAL
  		  
	</entry>
	
	<entry key="selectCalculateList">
		SELECT * 
  		FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
                SELECT SITTER_ID
                     , SITTER_NAME
                     , TO_CHAR(MONTH) "MONTH"
                     , TO_CHAR(YEAR) "YEAR"
                     , TOTAL
                  FROM VW_CAL
                  ORDER BY YEAR, MONTH DESC
                ) A
	          )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
		<entry key="selectKeyCalculateList">
		SELECT * 
  		FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
                SELECT SITTER_ID
                     , SITTER_NAME
                     , TO_CHAR(MONTH) "MONTH"
                     , TO_CHAR(YEAR) "YEAR"
                     , TOTAL
                  FROM VW_CAL
                  ORDER BY YEAR, MONTH DESC
                 WHERE SITTER_ID LIKE ?
                ) A
	          )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="CNFcalculateDetailCount">
		SELECT 
			COUNT(*) COUNT
		FROM (SELECT SITTER_NO, MEM_NAME, MEM_ID, ACC_BANK, ACC_NUMBER, RES_CHECKOUT, PAY_NO, PAY_AMOUNT*0.9 AS CONF, RES_STATUS
			FROM SITTER
			JOIN MEMBER ON(MEM_NO = SITTER_NO)
			JOIN ACCOUNT USING(SITTER_NO)
			JOIN FEE USING(SITTER_NO)
			JOIN RESERV_SITTING USING(SITTING_NO)
			JOIN RESERV USING(RES_NO)
			WHERE RES_STATUS = '확정'
			<![CDATA[AND EXTRACT(MONTH FROM TO_DATE(RES_CHECKOUT, 'YYYY-MM-dd')) < EXTRACT(MONTH FROM SYSDATE)]]>
			<![CDATA[AND EXTRACT(YEAR FROM TO_DATE(RES_CHECKOUT,'YYYY-MM-dd')) <= EXTRACT(YEAR FROM SYSDATE))]]>
		WHERE EXTRACT(MONTH FROM TO_DATE(RES_CHECKOUT, 'YYYY-MM-dd')) = ?
		AND EXTRACT(YEAR FROM TO_DATE(RES_CHECKOUT,'YYYY-MM-dd')) = ?
		AND MEM_ID = ?
	</entry>
	
	
	
	<entry key="CNCcalculateDetailCount">
		SELECT 
			COUNT(*) COUNT          
		FROM (SELECT MEM_NAME, MEM_ID, ACC_BANK, ACC_NUMBER, PAY_NO, CANCEL_DATE,
			(CASE WHEN D > 14 THEN M * 0
			WHEN D > 7 THEN M * 0.05 
			WHEN D > 3 THEN M * 0.25
			ELSE M * 0.9 END) AS CANC, D            
			FROM (SELECT MEM_NAME, MEM_ID, ACC_BANK, ACC_NUMBER, PAY_NO, CANCEL_DATE,
				ROUND(SYSDATE - (TO_DATE(RES_CHECKIN, 'YYYY-MM-dd')),0) D, PAY_AMOUNT M
			    FROM SITTER
			    JOIN MEMBER ON(MEM_NO = SITTER_NO)
			    JOIN ACCOUNT USING(SITTER_NO)
			    JOIN FEE USING(SITTER_NO)
			    JOIN RESERV_SITTING USING(SITTING_NO)
			    JOIN RESERV USING(RES_NO)
			    WHERE RES_STATUS = '취소' AND PENALTY = 'N'))
		WHERE EXTRACT(MONTH FROM CANCEL_DATE) = ?
		AND EXTRACT(YEAR FROM CANCEL_DATE) = ?
		AND MEM_ID = ?
	</entry>
	
	
	<entry key="CNFselectCalculateDetail">
		SELECT * 
	  		FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
	               SELECT MEM_NAME
					    , MEM_ID
					    , ACC_BANK
					    , ACC_NUMBER
					    , TO_DATE(RES_CHECKOUT, 'YYYY-MM-dd') AS DEAL_DATE
					    , PAY_NO
					    , CONF
					    , (CASE WHEN RES_STATUS = '확정' THEN 'N' END) AS ISPENALTY
					FROM (SELECT SITTER_NO, MEM_NAME, MEM_ID, ACC_BANK, ACC_NUMBER, RES_CHECKOUT, PAY_NO, PAY_AMOUNT*0.9 AS CONF, RES_STATUS
					        FROM SITTER
					        JOIN MEMBER ON(MEM_NO = SITTER_NO)
					        JOIN ACCOUNT USING(SITTER_NO)
					        JOIN FEE USING(SITTER_NO)
					        JOIN RESERV_SITTING USING(SITTING_NO)
					        JOIN RESERV USING(RES_NO)
					        WHERE RES_STATUS = '확정')
					WHERE EXTRACT(MONTH FROM TO_DATE(RES_CHECKOUT, 'YYYY-MM-dd')) = ?
					AND EXTRACT(YEAR FROM TO_DATE(RES_CHECKOUT,'YYYY-MM-dd')) = ?
					AND MEM_ID = ?   
				                ) A
					          )
						WHERE RNUM BETWEEN ? AND ?
	</entry>


	<entry key="CNCselectCalculateDetail">
		SELECT * 
  		FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
                SELECT 
				    MEM_NAME
				    , MEM_ID
				    , ACC_BANK
				    , ACC_NUMBER
				    , CANCEL_DATE AS DEAL_DATE
				    , PAY_NO
				    , CANC
				    , (CASE WHEN D > 3 THEN 'Y' ELSE 'N' END) AS ISPENALTY            
				FROM (SELECT MEM_NAME, MEM_ID, ACC_BANK, ACC_NUMBER, PAY_NO, CANCEL_DATE,
				        (CASE WHEN D > 14 THEN M * 0
				        WHEN D > 7 THEN M * 0.05 
				        WHEN D > 3 THEN M * 0.25
				        ELSE M * 0.9 END) AS CANC, D            
				        FROM (SELECT MEM_NAME, MEM_ID, ACC_BANK, ACC_NUMBER, PAY_NO, CANCEL_DATE,
				            ROUND(SYSDATE - (TO_DATE(RES_CHECKIN, 'YYYY-MM-dd')),0) D, PAY_AMOUNT M
				            FROM SITTER
				            JOIN MEMBER ON(MEM_NO = SITTER_NO)
				            JOIN ACCOUNT USING(SITTER_NO)
				            JOIN FEE USING(SITTER_NO)
				            JOIN RESERV_SITTING USING(SITTING_NO)
				            JOIN RESERV USING(RES_NO)
				        WHERE RES_STATUS = '취소' AND PENALTY = 'N'))
				WHERE EXTRACT(MONTH FROM CANCEL_DATE) = ?
				AND EXTRACT(YEAR FROM CANCEL_DATE) = ?
				AND MEM_ID = ?
                ) A
	          )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="selectAccBank">
		SELECT
		    ACC_BANK
		FROM ACCOUNT
		JOIN MEMBER ON (MEM_NO = SITTER_NO)
		WHERE MEM_ID = ?
	</entry>
	
	
	<entry key="selectAccNum">
		SELECT
		    ACC_NUMBER
		FROM ACCOUNT
		JOIN MEMBER ON (MEM_NO = SITTER_NO)
		WHERE MEM_ID = ?
	</entry>


</properties>